* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeroContainer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.TextContent {
  background-color: #181818;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 15px;
  text-align: center;
  font-size: 15px;
  z-index: 2;
  opacity: 1;
  transition: opacity 5s;
}

.TextContent.fade {
  opacity: 0;
}

.TextContent button {
  margin: 20px;
  width: 20%;
  height: 4%;

  cursor: pointer;
  color: #8b92ee;
  font-size: 15px;
  letter-spacing: 15px;
  position: relative;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.TextContent button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8b92ee;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.TextContent button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.TextContent h1 {
  font-family: "Aboreto";
  font-size: 50px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.TextContent p {
  font-family: monospace;
}
.buttons {
  z-index: 2;
  position: absolute;
  top: 0;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 5s;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons button {
  margin-right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  color: #f9b786;
  font-size: 20px;
  font-family: "Aboreto";

  letter-spacing: 5px;
  padding-bottom: 20px;
  cursor: pointer;
}

.buttons button:hover {
  color: whitesmoke;
}

/********************WORK CSS START**********************************/
