* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #181818;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  animation-duration: 2s;
  animation-name: opacitychange;
}

.wrapper {
  width: 80%;
  padding: 30px 0;
  text-align: center;
}

.Work {
  font-family: "Kodchasan";
  padding-top: 10px;
  color: #f9b786;
  font-weight: 300;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}

#back {
  position: absolute;
  color: #f9b786;

  left: 5%;
  top: 50px;
  text-decoration: none;
}

.navButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navButtons button {
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  width: 25%;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #181818;
  font-family: "Kodchasan";
  text-align: center;
}

.Btnone,
.Btntwo,
.Btnthree {
  border-bottom: 5px solid #f9b88685;
}

.Btnone:hover,
.Btnone:focus,
.Btntwo:hover,
.Btntwo:focus,
.Btnthree:hover,
.Btnthree:focus {
  background-color: #f9b886d6;
  color: #181818;
}

/* .navButtons .Btnone:hover,
.Btnone:focus {
  background-color: #6571f8ad;
}
.navButtons .Btntwo:hover,
.Btntwo:focus {
  background-color: #8b92eeaf;
}
.navButtons .Btnthree:hover,
.Btnthree:focus {
  background-color: #c6dff7a8;
} */

.navButtons button:active {
  transform: scale(0.95);
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin-top: 50px;
}

.main-container .container {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.main-container .container::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.main-container .container:hover::before {
  top: 0;
  right: calc(100% -5px);
  z-index: 8;
}

.main-container .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container .container .Img-Text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  right: 100%;
  transition: all 0.5s ease-in-out;
  background: #181818df;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

.main-container .container:hover .Img-Text {
  top: 0;
  right: 0;
}

.main-container .Img-Text h1 {
  color: #8b92ee;
  font-family: "Kodchasan";
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px;
}

.Img-Text p {
  color: whitesmoke;
  margin: 5px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

.Img-Text a {
  color: #f9b786;
  text-decoration: none;
  font-family: "Kodchasan";
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}

footer {
  bottom: 0;
  color: wheat;
}

@media only screen and (max-width: 600px) {
  .navButtons button {
    font-size: 10px;
    text-align: center;
    width: 50%;
    padding: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@keyframes opacitychange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
